@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #7278D1;
    transition: ease-in-out 0.1s;
}
body{
    margin: 0;
    background: #C7D1F6;
}
li{
    list-style: none;
}
.container{
    background-color: #fff;
    margin: 150px 130px 80px 130px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.014), 0 3px 6px 3px rgba(0, 0, 0, 0.021), 0 5px 50px 5px rgba(0, 0, 0, 0.103);
    padding-bottom: 50px;
}
#avt{
    margin-top: -90px;
    border-radius: 50% !important;
    max-width: 180px;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}
#fa{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
}
#fa1{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 30px;
}
@media only screen and (max-width: 750px) {
    .container{
        background-color: #fff;
        margin: 250px 10px 0px 10px;
        border-radius: 10px;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.014), 0 3px 6px 3px rgba(0, 0, 0, 0.021), 0 5px 50px 5px rgba(0, 0, 0, 0.103);
    }
    #avt{
        max-width: 120px;
        margin-top: 50px;
    }
}
