@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 182%2c 193%2c 1)'%3e%3c/rect%3e%3cpath d='M1637.328%2c1160.152C1716.244%2c1162.057%2c1785.774%2c1107.346%2c1820.368%2c1036.391C1851.285%2c972.978%2c1828.08%2c902.043%2c1793.015%2c840.827C1757.673%2c779.128%2c1708.431%2c717.235%2c1637.328%2c716.843C1565.763%2c716.449%2c1512.706%2c776.156%2c1478.643%2c839.096C1446.494%2c898.499%2c1439.051%2c967.357%2c1468.98%2c1027.909C1502.869%2c1096.474%2c1560.867%2c1158.306%2c1637.328%2c1160.152' fill='rgba(255%2c 192%2c 203%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1601.3035058302705 1134.3943721256624L1548.3453054080617 832.370628295972 1340.0358315287644 1001.0563142066794z' fill='rgba(255%2c 192%2c 203%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M94.074%2c612.858C174.89%2c616.423%2c261.881%2c588.912%2c299.301%2c517.192C334.935%2c448.894%2c295.77%2c371.097%2c253.974%2c306.386C216.687%2c248.657%2c162.628%2c204.287%2c94.074%2c199.451C15.683%2c193.921%2c-70.652%2c212.859%2c-110.342%2c280.685C-150.31%2c348.986%2c-123.491%2c432.973%2c-82.016%2c500.37C-42.891%2c563.948%2c19.495%2c609.568%2c94.074%2c612.858' fill='rgba(255%2c 192%2c 203%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1187.658%2c218.036C1234.085%2c219.541%2c1270.316%2c183.311%2c1294.149%2c143.44C1318.78%2c102.236%2c1336.484%2c51.459%2c1311.869%2c10.245C1287.661%2c-30.287%2c1234.862%2c-35.659%2c1187.658%2c-34.858C1142.281%2c-34.088%2c1092.536%2c-25.358%2c1070.541%2c14.34C1048.982%2c53.251%2c1070.318%2c98.339%2c1092.491%2c136.903C1114.761%2c175.636%2c1143.002%2c216.588%2c1187.658%2c218.036' fill='rgba(255%2c 192%2c 203%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M230.61518243722153 193.10807013705113L493.08376674004694 258.5488380703515 296.05595037052194-69.3605141657743z' fill='rgba(255%2c 192%2c 203%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1225.323%2c173.334C1279.693%2c174.649%2c1345.029%2c180.056%2c1372.074%2c132.871C1399.056%2c85.796%2c1360.206%2c32.919%2c1332.569%2c-13.774C1305.724%2c-59.128%2c1277.955%2c-112.325%2c1225.323%2c-115.063C1169.552%2c-117.964%2c1124.109%2c-74.771%2c1096.835%2c-26.038C1070.273%2c21.422%2c1060.911%2c80.341%2c1090.374%2c126.058C1118.048%2c168.999%2c1174.252%2c172.099%2c1225.323%2c173.334' fill='rgba(255%2c 192%2c 203%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1469.9761038703186 848.4915339672858L1329.8074935150978 802.947991669279 1331.5764852456978 1035.9726783511135z' fill='rgba(255%2c 192%2c 203%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  transition: 0.2s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content .contentBx h3 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.2s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li {
  color: #fff;
  font-size: 24px;
}

.heart {
  width: 50px;
  margin-bottom: 20px;
  animation: heartBeat 0.1s ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(0.9);
  }

  45% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}

.time {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time h2,
.time p {
  margin: 0;
  margin-bottom: 4px;
}

.time h2 {
  font-size: 2.4rem;
}

.time p {
  font-size: 1.5rem;
}

.sup-time {
  font-weight: 300;
}
