h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(254,195,1);
    margin-bottom: 50px;

}
h1{
    color: rgb(0, 158, 158);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}