div{
    width: 1000px;
    height: 300px;
    background-color: rgb(183, 255, 231);
    margin-left: 100px;
    margin-top: 200px ;
    margin: 50px 40px 60px 70px;
    border: solid pink 10px;
}
h1{
    background-color: darkgrey;
    color: white;
}
.sencond-div{
    width: 200px;
    height: 300px;
    margin: 100px auto;
}
span{
    display:block;
    width: 500px;
    height: 300px;
    background-color: darkseagreen;
    color: white;
}
button{
    display: inline-block;
    border: dot black 2px;
    outline: none;
    width: 100px;
    height: 100px;
    background-color: turquoise;
    margin-left: 100px;

}